.gradle
.idea
build/
out/
bin/

.vscode/

# Lock files of libre office
.~lock.*

# For the Collision Map build
runelite/
cache/
output/
cache.jar
keys.json
cache.zip

# random files from build
.classpath
.factorypath
.project
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
